<div class="row" ng-init="vm.getMarques();">
  <div class="col-xs-12">
    <div class="page-title-box">
      <h4 class="page-title">Mouvement d'entrée / Nouveau</h4>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<div class="card-box no-padder">
  <form class="wrapper-sm"  ng-init="vm.getProduits()">
      <div class="form-group m-n">
        <angucomplete-alt 
              placeholder="Choisir un article..."
              pause="100"
              selected-object="vm.selectedProduct"
              local-data="vm.produits"
              search-fields="reference"
              title-field="reference"
              ng-keydown="$event.keyCode === 13 && vm.openModalAddProduct()"
              match-class="highlight"
              minlength="4"
              text-no-results="Ajouter un produit"
              template-url="custom-template.html"
              input-class="form-control w-full"/>
      </div>
  </form>
</div>

<script type="text/ng-template" id="custom-template.html">
<div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
  <input ng-model="searchStr"
    ng-disabled="disableInput"
    type="text"
    placeholder="{{placeholder}}"
    ng-focus="onFocusHandler()"
    class="{{inputClass}}"
    ng-focus="resetHideResults()"
    ng-blur="hideResults($event)"
    autocapitalize="off"
    autocorrect="off"
    autocomplete="off"
    ng-change="vm.inputChangeHandler(searchStr)"/>

  <div class="angucomplete-dropdown" ng-show="showDropdown">
    <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
    <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
    <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
      <div ng-if="imageField" class="angucomplete-image-holder">
      </div>
      <div class="angucomplete-title" ng-if="matchClass">
        <div class="row">
          <div class="col-md-2" ng-if="result.originalObject.url_picture">
            <img ng-src="http://api.utiledev.vanam.fr/{{result.originalObject.url_picture}}" height="70" >
          </div>
          <div class="col-md-10">
            <h4 ng-bind-html="result.title"></h4>
            <p>{{result.originalObject.description}}</p>
          </div>
        </div>
      </div>
      <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
      <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
      <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
    </div>
    
  </div>
</div>
</script>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box table-responsive">
      <h3>Liste des produits du mouvement</h3>
      <table id="mouvement_entree" class="table table-striped">
        <thead>
          <tr>
            <th width="120">Référence </th>
            <th>Désignation </th>
            <th>Marque</th>
            <th>Type</th>
            <th width="100">Qte</th>
            <th width="80">Prix achat</th>
            <th width="110">Zone</th>
            <th width="80">Prix tarif</th>
            <th width="50">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, value) in vm.mouvement.entry_event_details">
            <td>{{value.reference}} </td>
            <td>{{value.description}}</td>
            <td>{{value.brand}}</td>
            <td>Type</td>
            <td><span data-toggle="modal" data-target="#ajoutStock" ng-click="vm.selected=value" class="somme_stock">{{ vm.calculerStock(value.stock) }}</span><span class="lh26">/{{value.qtr}}</span></td>
            <td><input type="number" min="0" ng-model="value.purchase_price" class="w-50">{{ vm.getDeviseName(vm.mouvement.change_id) }}</td>
            <td>
              <div class="row">
                <!-- <div class="col-xs-4">
                  <div class="form-group">
                    <select class="form-control" ng-model="vm.produit.zonage_city_id">
                      <option class="hidden" value="">MRS</option>
                      <option value="{{ value.id }}" ng-repeat="(key, value) in vm.zonages track by $index">{{ value.trigram }}</option>
                    </select>
                  </div>
                </div> -->
                <div class="col-xs-6 no-padder">
                    <input type="text" class="w-full text-xs" placeholder="Ex : A12" ng-model="value.aisle">
                </div>
                <div class="col-xs-6 no-padder">
                    <input type="text" class="w-full text-xs" placeholder="Ex : PAL9" ng-model="value.palette">
                </div>
              </div>
            </td>
            <td><input type="number" min="0" ng-model="value.sale_rate_price" class="w-50"> {{ vm.getDeviseName(vm.mouvement.change_id) }}</td>
            <td>
              <div class="btn btn-xs btn-info" data-toggle="modal" data-target="#ajoutStock" ng-click="vm.selected=value" ><i class="fa fa-info"></i></div>
              <div class="btn btn-xs btn-danger" ng-click="vm.removeProduct( $index )" ><i class="fa fa-trash"></i></div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>
              Information
            </td>
            <td colspan="3">
              <textarea class="form-control padder b" ng-model="vm.mouvement.information" rows="4"></textarea>
            </td>
            <td></td>
            <td colspan="4">
              <a ui-sref="app.traitements.mouvements.index" class="btn btn-sm btn-danger">Fermer</a>
              <div class="btn btn-sm btn-success" ng-click="vm.saveMouvement()">Enregistrer</div>
            </td>
          </tr>
          <tr>
            <td>
              Nombre des colis
            </td>
            <td colspan="3">
              <input type="number" min="0" ng-model="vm.mouvement.parcel_nb" class="form-control padder b">
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              Devise
            </td>
            <td colspan="3">
              <select class="form-control w-sm b" required="" ng-model="vm.mouvement.change_id" ng-init="vm.getDevises();">
                <option value="{{ value.id }}" ng-repeat="(key, value) in vm.devises track by $index">{{ value.name }} </option>
              </select>
            </td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" id="ajoutStock" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-0 b-0">
      <div class="panel panel-color panel-primary">
        <div class="panel-heading">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="panel-title">Ajout stock</h3>
        </div>
        <div class="panel-body no-padder">
          <div data-ng-include=" 'modules/mouvements/stock.html' "></div>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/ng-template" id="addProduct.html">
  <div class="addProductModal" data-ng-include=" 'modules/produits/add.html' "></div>
</script>