<div class="row">
  <div class="col-xs-12">
    <div class="page-title-box">
      <h4 class="page-title">Utilisateurs</h4>
      <div class="pull-right">
        <button class="btn btn-primary btn-sm waves-effect waves-light" data-toggle="modal" ng-click="vm.editing=0; vm.user = {}" data-target="#addUser">Ajouter utilisateur</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">
                {{ vm.editing ? 'Modifier':'Ajouter' }} utilisateur</h4>
      </div>
      <div class="modal-body">
        <form class="form" ng-submit="vm.editing?vm.editUser():vm.addUser()">
          <div ng-if="vm.editing" class="text-center">
            <!-- photo existante -->
            <div ng-if="vm.user.url_picture">
              <img ng-src="http://api.utiledev.vanam.fr/{{ vm.user.url_picture }}" class="text-center max-w-lg img"  alt="">
            </div>
            <!-- photo inexistante -->
            <div ng-if="!vm.user.url_picture">
              <img ng-src="images/user.png" class="text-center max-w-lg img" type="image/png" alt="" >
            </div>
            <input type="file" name="picture" class="form-control hidden">
            <div class="btn btn-xs btn-danger w-sm m-t-10" ng-if="vm.user.url_picture" ng-click="vm.deletePhoto(vm.user.id)"><i class="fa fa-trash"></i></div>
            <div class="btn btn-xs btn-success m-t-10" ng-click="vm.uploadPhoto(vm.user.id)" ng-if="vm.canUpload" ng-click="vm.uploadPhoto( vm.user.id )"><i class="fa fa-upload"></i> upload</div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control" required="" name="mail" ng-model="vm.user.mail" placeholder=" ">
                <label>Adresse mail</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <div>
                  <span class="input-group-btn">
                    <input type="{{ vm.passVisible ? 'text':'password' }}" required="" id="password" class="form-control" placeholder="Mot de passe" ng-model="vm.user.passwd">
                    <button type="button" class="btn waves-effect waves-light btn-primary" ng-click="vm.passVisible = !vm.passVisible"><i class="fa fa-eye"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" required="" name="name" ng-model="vm.user.name" placeholder=" ">
                <label>Nom</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" required="" name="firstname" ng-model="vm.user.firstname" placeholder=" ">
                <label>Prénom</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" required="" name="mobile_line" ng-model="vm.user.mobile_line" placeholder=" ">
                <label>Mobile line</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" name="direct_line" ng-model="vm.user.direct_line" placeholder=" ">
                <label>Direct line</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="" ng-if="vm.user.role_id == 4">Client</label>
            <select name="" class="form-control" required="" ng-model="vm.user.role_id" ng-if="vm.user.role_id!=4">
              <option value="" class="hidden">-- Choisir un role --</option>
              <option ng-if="app.data.user.role.id == 1 " ng-selected="vm.user.role == 2" value='2'>ADMIN</option>
              <option ng-selected="vm.user.role == 3" value='3'>LOGISTIQUE</option>
              <option ng-selected="vm.user.role == 5" value='5'>AGENT</option>
            </select>
          </div>
          <div class="form-group" ng-if="vm.editing">
            <input type="checkbox" id="switch1" ng-true-value="'1'" ng-false-value="'0'" ng-model="vm.user.activate" ng-checked="vm.user.activate" switch="bool" />
            <label for="switch1" data-on-label="Actif" data-off-label="Inactif"></label>
          </div>
          <div class="text-center">
            <button class="btn btn-success">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card-box table-responsive">
      <!--<table id="users" class="table table-striped" ng-init="vm.getUsers()">-->
        <!--<thead>-->
          <!--<tr>-->
            <!--<th width="50"></th>-->
            <!--<th>Mail</th>-->
            <!--<th>Nom Prénom</th>-->
            <!--<th width="100">Role</th>-->
            <!--<th width="60">Etat</th>-->
            <!--<th width="80">Actions</th>-->
          <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
          <!--<tr ng-repeat="(key, value) in vm.users track by $index">-->
            <!--<td>-->
              <!--<img ng-src="http://api.utiledev.vanam.fr/{{ value.url_picture }}" class="thumb-sm img-circle" ng-if="value.url_picture" alt="">-->
              <!--<span class="avatar-sm-box bg-warning" ng-if="!value.url_picture">{{ value.name[0] | uppercase }}</span>-->
            <!--</td>-->
            <!--<td>{{ value.mail }}</td>-->
            <!--<td>{{ value.name }} {{ value.firstname }}</td>-->
            <!--<td>{{ value.role.role }}</td>-->
            <!--<td>-->
              <!--<i ng-if="value.activate == '0'" class="fa fa-circle text-danger"></i>-->
              <!--<i ng-if="value.activate == '1'" class="fa fa-circle text-success"></i>-->
            <!--</td>-->
            <!--<td>-->
              <!--<div class="btn btn-xs btn-info" ng-hide="value.role_id==1 && app.data.user.role.id == 2" data-toggle="modal" data-target="#addUser" ng-click="vm.edit( value )"><i class="fa fa-pencil"></i></div>-->
              <!--<div class="btn btn-xs btn-danger" ng-click="vm.delete(value.id)"><i class="fa fa-trash"></i></div>-->
            <!--</td>-->
          <!--</tr>-->
        <!--</tbody>-->
      <!--</table>-->
    </div>
  </div>
</div>
